/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #464646;
}

ol,
ul,
li {
    list-style: none;
    padding-left: 0%;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    display: flex;
    justify-content: space-around;
    /*align-items: center;
    position: fixed;
    top: 0;*/
    position: sticky;
    top: 0;
}

.menu__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menu nav {
    display: flex;
    align-items: center;

}

.menu__list {
    display: flex;
    gap: 1rem;
}

/*Sección Title*/

section.title {
    display: flex;
    justify-content: space-around;
    /*margin: 5% 7%;*/

}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5% 6%;
}

.title__container {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.title__bio {
    font-size: 3rem;
    font-weight: bold;
}

.title__network {
    display: flex;
    gap: 15px;
    padding: 0;
}

/*Sección About*/

section.about {
    display: flex;
    background-color: #EAF2FD;
    /*justify-content: space-around;*/
}

.about__container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    padding: 4em 7em;
}

/*Sección Hobbies*/
.skills__title {
    font-size: 2em;
}

section.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__line {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.skills__box {
    display: flex;
    align-items: flex-end;
    /*width: 20%;*/
    background-color: white;
    width: 176px;
    height: 174px;
}

.skills__box ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    margin: 0;
    justify-content: center;
    font-weight: bold;
}

/*Sección Hobbies*/

section.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies__title {
    font-size: 2em;
}

.hobbies__line {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.hobbies__box {
    display: flex;
    align-items: flex-end;
    width: 20%;
    background-color: white;
    width: 176px;
    height: 174px;
}

.hobbies__box ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    margin: 0;
    font-weight: bold;
    justify-content: center;
}

/* Experiencia Académica*/
section.academic {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF2FD;
    margin-top: 5em;
    padding: 3em 0 4em;
}

.academic__title {
    font-size: 2em;
}

.academic__courses {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.academic__courses__box {
    width: 30%;
    /*width: 368px;
    width: 85%;*/
    height: 347px;
}

.academic__courses__list h4,
.academic__courses__list p {
    margin: 0.5em 0;
}

.academic__courses__item__img {
    display: flex;
    background-color: white;
    padding: 4em 5em;
    justify-content: center;
    height: 130px;
}

/* experiencia*/

section.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.experience__section__title {
    font-size: 2em;
    margin-top: 1.5em;
}

.experience__box {
    width: 100%;
    /*width: 1136px;*/
    /*cambio esto*/
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 1;
    justify-content: center;
}

.experience__box:nth-child(odd) {
    width: 100%;
    /*width: 1136px;*/
    /*cambio esto*/
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    flex-shrink: 1;
    justify-content: center;
}

.experience__info {
    width: 368px;
}

.experience__title,
.experience__text {
    margin: 10px 0;
}

.experience__text {
    font-weight: 500;
}

.experience__description {
    display: flex;
    gap: 16px;
}

/*botones*/
.experiencia__botao--repo {
    background-color: #F5F5F5;
    color: #2A7AE4;
    padding: 16px;
    border: 1px solid #2A7AE4;
    font-family: 'Raleway';
}

.experience__botao--demo {
    background-color: #2A7AE4;
    color: white;
    padding: 16px;
    border: 1px solid #2A7AE4;
    font-family: 'Raleway';
}

/*Contacto*/
section.formcontato {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF2FD;
    padding: 2em;
}

.formcontato__contacto {
    padding: 64px 0px 0px 0px;
    /*width: 1136px;*/
    /*cambio esto*/
    display: flex;
    gap: 16px;
    justify-content: center;
}

.formcontato--esquerda {
    /*float: left;*/
}

.formcontato__text {
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formcontato__title {
    font-size: 2em;
    margin-top: 0em;
}

.formcontato__subtext {
    margin: 0.2em 0em;
    font-size: 16px;
    font-weight: unset;
}

/* formulario*/
.formcontato__form {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /*align-self: normal;*/
    width: 95%;
}

.formcontato__textarea {
    border: none;
    border-radius: 4px;
}

.formcontato__boton {
    padding: 1em;
    color: white;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    font-family: 'Raleway';
    align-self: baseline;
}


/*------------*/
/* Contenedor del formulario */
.form-group {
    position: relative;
}

/* Estilo para el input */
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 1.5em 1em 0.5em;
    border-style: none;
    border-color: #ccc;
    border-bottom-style: revert;
    border-radius: 5px 5px 0 0;
    transition: border-color 0.3s;
    font-family: 'Raleway';
}

/* Estilo para la etiqueta flotante */
.form-group label {
    position: absolute;
    /*top: 0;*/
    top: 1em;
    left: 10px;
    pointer-events: none;
    transition: transform 0.3s, font-size 0.3s;
    color: #aaa9a9;
    font-family: 'Raleway';
}

/* Cuando el input está enfocado o tiene texto */
.formcontato__input:focus,
.formcontato__email:focus,
.form-group textarea:focus {
    border: none;
    border-bottom: solid #007bff;
}

/*cuando lo selecciono - el borde sino se hace amarillo*/
.formcontato__input:focus-visible,
.formcontato__email:focus-visible,
.form-group textarea:focus-visible {
    border: none;
    border-bottom: solid #007bff;
    outline: none;
}

.formcontato__input:focus+label,
.formcontato__input:placeholder-shown+label,
.formcontato__input:valid+label {
    /*transform: translateY(-20px);*/
    transform: translateY(-8px);
    position: absolute;
    font-size: 12px;
    color: #706e6e;
}

/*texarea*/
.formcontato__textarea:focus+label,
.formcontato__textarea:placeholder-shown+label,
.formcontato__textarea:valid+label {
    transform: translateY(-8px);
    font-size: 12px;
    color: #706e6e;
}

/*textarea e inputs - color del label cuando toco para escribir*/
.formcontato__input:focus-visible+label,
.formcontato__email:focus-visible+label,
.form-group textarea:focus-visible+label {
    color: #007bff;
}

/* Estilo para cuando el campo email tiene contenido */
.formcontato__email:focus::placeholder {
    transform: translateY(-8px);
    font-size: 12px;
    color: #2A7AE4;
}

/*.formcontato__email:focus + label,
.formcontato__email:placeholder-shown + label{
    transform: translateY(-8px);
    font-size: 12px;
    color: #007bff;
  }*/
/* input[type="email"]:valid + label{/*se posiciona bien,tiene el color,*/
/* transform: translateY(-8px);
    font-size: 12px;
    color: #706e6e;
  }*/
/*input[type="email"]:valid + label,
input[type="email"]:invalid + label {
      transform: translateY(-8px);
      font-size: 12px;
      color: #706e6e;
    }*/
/*--------------*/

/*footer*/
section.footer {
    background-color: #FFFFFF;
}

.footer__rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0;
}

.footer__rodape p {
    margin: 0.2em;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) and (max-width: 1011px) {

    /* Menú */
    section.menu {
        display: flex;
        justify-content: space-between;
        position: sticky;
        padding: 1em 2em 0;
        top: 0;
    }
    .menu__title{
        font-size: 16px;
    }
    .menu__list__item {
        display: none;
    }

    .menu__list__item__contato {
        font-weight: bold;
    }

    /*title*/
    .title__div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 1%;
        gap: 8px;
    }

    .title__bio {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0.5em 0;
    }

    .title__subsection {
        font-size: 16px;
        font-weight: unset;
        margin: 0.5em 0;
        text-wrap: balance;
    }

    .title__network {
        display: flex;
        gap: 32px;
        margin: 0.5em 0;
    }

    .title__div .title__profile {
        width: 146px;
        height: 146px
    }

    /*about*/
    .about__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding: 2em;
    }

    .about__title {
        font-size: 22px;
        margin: 0.5em 0;
    }

    .about__paragraph {
        font-size: 14px;
    }

    /*Skills*/
    section.skills{
        margin-bottom: 1em;
    }
    .skills__title{
        font-size: 22px;
        margin: 1.5em 0;
    }
    .skills__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px;
        width: 95%;
        justify-content: space-around;
    }
    .skills__box {
        display: flex;
        align-items: flex-end;
        /* width: 20%; */
        background-color: white;
        width: 224px;
        height: 118px;
    }

    /*Hobbies*/
    .hobbies__title {
        font-size: 22px;
        margin: 2em 0; 
    }
    .hobbies__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px;
        width: 95%;
        justify-content: space-around;
    }
    .hobbies__box {
        display: flex;
        align-items: flex-end;
        width: 20%;
        background-color: white;
        width: 224px;
        height: 118px;
    }

    /*Formación Académica*/
    section.academic {
        margin-top: 3em;
        padding-top: 0;
    }
    .academic__title{
        font-size: 22px;
        margin: 1.5em 0;
    }
    .academic__courses__item__img {
        padding: 1em;
        height: 118px;
    }
    .academic__courses {
        width: 90%;
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    .academic__courses__box {
        height: 169px;
    }

    /*Experiencia Profesional*/
    section.experience{
        margin-bottom: 2em;
        gap: 2.5em
    }
    .experience__section__title{
        font-size: 22px;
        margin-bottom: 0;
    }
    .experience__box {
        width: 90%;
        /*width: 1136px;*/
        /*cambio esto*/
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        flex-shrink: 1;
    }

    .experience__box:nth-child(odd) {
        width: 90%;
        /*width: 1136px;*/
        /*cambio esto*/
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        flex-shrink: 1;
        justify-content: center;
    }

    /*Contacto*/
    section.formcontato {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: #EAF2FD;
        padding: 0;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato__title {
        font-size: 22px;
        margin-top: 0em;
    }

    .formcontato__contacto {
        padding: 32px 0 32px 32px;
        /* width: 1136px; */
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .formcontato__form{
        gap: 32px;
    }

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/
    section.menu {
        display: flex;
        justify-content: space-between;
        position: sticky;
        padding: 1em;
        top: 0;
    }
    .menu__title{
        font-size: 16px;
        text-wrap: balance;
    }
    .menu__list__item {
        display: none;
    }
    /*Titulo*/
    .title__div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 8px;
    }
    .title__container {
        display: flex;
        flex-direction: column;
        /* padding: 3%;*/
    }
    .title__bio {
        font-size: 22px;
        margin: 0.5em 0;
    }

    .title__subsection {
        font-size: 14px;
        font-weight: unset;
        margin: 0.5em 0;
        text-wrap: wrap;
    }

    .title__network {
        display: flex;
        gap: 8px;
        margin: 0.5em 0;
    }

    .title__div .title__profile {
        width: 146px;
        height: 146px
    }

    /*Sección sobre mi*/
    /*about*/
    .about__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding: 2em;
    }

    .about__title {
        font-size: 22px;
        margin: 0.5em 0;
    }

    .about__paragraph {
        font-size: 14px;
    }

    /*Skills*/
    section.skills{
        margin-bottom: 1em;
    }
    .skills__title{
        font-size: 22px;
        margin: 1.5em 0;
    }
    .skills__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px;
        width: 95%;
        justify-content: space-around;
    }
    .skills__box {
        display: flex;
        align-items: flex-end;
        /* width: 20%; */
        background-color: white;
        width: 156px;
        height: 118px;
    }
    /*Hobbies*/
    .hobbies__title {
        font-size: 22px;
        margin: 2em 0; 
    }
    .hobbies__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px;
        width: 95%;
        justify-content: space-around;
    }
    .hobbies__box {
        display: flex;
        align-items: flex-end;
        width: 20%;
        background-color: white;
        width: 156px;
        height: 118px;
    }
    /*Formación Académica*/
    section.academic {
        margin-top: 3em;
        padding-top: 0;
    }
    .academic__title{
        font-size: 22px;
        margin: 1.5em 0;
    }
    .academic__courses__item__img {
        padding: 1em;
        height: 118px;
    }

    .academic__courses {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
    }
    .academic__courses__box {
        width: auto;
        height: 169px;
    }
    /*Experiencia Profesional*/
    section.experience{
        margin-bottom: 2em;
        gap: 2.5em
    }
    .experience__section__title{
        font-size: 22px;
        margin-bottom: 0;
    }
    .experience__box {
        width: 90%;
        height: auto;
        /*width: 1136px;*/
        /*cambio esto*/
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        flex-shrink: 1;
    }

    .experience__box:nth-child(odd) {
        width: 90%;
        /*width: 1136px;*/
        /*cambio esto*/
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        flex-shrink: 1;
        justify-content: center;
    }
    .experience__img{
        width: 296px;
        height: 144px;
    }
    .experience__info {
        width: 288px;
    }
    .experience__title{
        font-size: 16px;
    }
    .experience__text{
        font-size: 14px;
    }

    /*Contacto*/
    section.formcontato {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: #EAF2FD;
        padding: 0;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato__title {
        font-size: 22px;
        margin-top: 0em;
    }

    .formcontato__contacto {
        padding: 32px 0 32px 32px;
        /* width: 1136px; */
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .formcontato__form{
        gap: 32px;
    }
    .form-group input, .form-group textarea{
        width: 90%;
    }
    /*Footer*/

}